#calc{
    width: 488;
    background-color:c8bfcb;
    height: 450;
    padding-left: 40;
    border-radius: 25px;
   
}
  
            button{
                background-color: brown;
                width: 80;
                height: 80;
                border-radius: 5px;
                font-size: 22;
            }
            input{
                width: 420;
                height: 50;
                font-size: 20;
                border-radius: 5px;
                background-color:c8bfcb;
                font-weight: bolder;
                text-align: end;

            }
            
            .new{
                background-color:blueviolet;
                width: 165;
                height: 80;
                border-radius: 5px;
                font-size: 25;
            }
            #numberclear{
                
                background-color:chocolate;

            }
            #numbers {
float: left;
display: block;
width: 250;
border: 1px;
margin: 2px
            }
            #operators{
                float: left;
                display: block;
                width: 230;
                border: 1px;
                margin: 2px
            }
            #title{
                font-size: 18;
                font-weight: bolder;
                margin-left: 160px;
            }
            #hystory_1{
                margin-left: 370px;
                color :slategrey;
            }
